/* COMMON */

:root {
  --base-light: #ffffff;
  --base-light-transparent-min: rgba(255, 255, 255, 0.9);
  --base-light-transparent-max: rgba(255, 255, 255, 0.3);

  --base-dark: #000000;
  --base-dark-transparent: rgba(0, 0, 0, 0.3);
  --base-dark-lighter: #333333;

  --base-neutral: #eeeeee;

  --accent-neutral: #f2f2f2;
  --accent-neutral-darker: #ebebeb;

  --accent-light: #81b3d2;
  --accent-light-darker: #669ec0;
  --accent-light-darkest: #5496bd;

  --accent-dark: #766357;
  --accent-dark-darker:#604e43;
  --accent-dark-darkest:#503e33;

  --border: #e5e5e5;

  --map-main-color: #e0edbb;
  --real-city-main-color: #9d785a;
  --rocks-main-color: #81523a;

  --htmlacademy-logo-base: #231f20;
  --htmlacademy-logo-hover: #81b3d2;
  --htmlacademy-logo-active: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.page-body {
  position: relative;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--base-dark);

  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after { box-sizing: border-box; }

.hotel-popup {
  display: none;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;

  width: 1200px;

  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* HEADER */
.logo {
  position: absolute;
  top: 0;
  left: 531px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;

  width: 1054px;
  height: 55px;

  list-style: none;
}

.menu-separator {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 327px;
}

.main-menu a {
  font-weight: 700;
  color: var(--base-dark);
  text-decoration: none;
}

.main-menu a:hover {
  color: var(--accent-light);
}

.main-menu a:active {
  color: var(--base-dark-transparent);
}

a.active-page,
a.active-page:hover,
a.active-page:focus,
a.active-page:active {
  color: var(--accent-dark);
}

/* MAIN */
.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 509px;

  background-color: var(--accent-light);
  background-image: url(../img/intro-mask.svg), url(../img/background-photo.jpg);
  background-size: 100%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 453px, left top;
}

<<<<<<< HEAD
/* START OF FIVE REASONS BLOCK */

=======
>>>>>>> 032c743be20f5606b14b8a63efab8db0abeb771d
.intro-text {
  margin: 0 auto;
  margin-top: 42px;

  width: 470px;
  height: 80px;

  text-align: center;

  background-color: var(--base-light);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.five-reasons-header {
  margin: 0;
  margin-bottom: 51px;

  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--base-dark-lighter);
}

.five-reasons-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;

  margin: 0;
  padding: 0;

  list-style: none;
}

/* IMAGE BLOCKS */
.five-reasons-city {
  grid-column-start: 2;
  grid-column-end: 4;

  background-image: url(../img/real-city.jpg);
  background-color: var(--real-city-main-color);
  background-size: cover;
}

.five-reasons-bridge {
  grid-column-start: 1;
  grid-column-end: 3;

  background-image: url(../img/rocks.jpg);
  background-color: var(--rocks-main-color);
  background-size: cover;
}

/* ACCENT BLOCKS */
.accent-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-light);
  color: var(--base-light);
}

.accent-header {
  margin: 0;

  width: 150px;

  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.accent-number {
  margin-top: 25px;

  font-size: 14px;
  line-height: 21px;
}

.accent-text {
  margin: 0;
  margin-top: 23px;

  width: 301px;

  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

/* BASE BLOCKS */
.base-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--base-light);
}

.five-reasons-house::before {
  display: block;
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='72' viewBox='0 0 75 72'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M29.656 65.033h16V41.21h-16v23.823zm2.937-20.899h10.125V62.11H32.593V44.134z'/%3E%3Cpath d='M72.771 39.253l2.076-2.068-9.908-9.865V0H51.127v13.567L37.5 0 .152 37.185l2.077 2.068 7.832-7.795v37.618H6.124V72h63.875v-2.924H64.94V31.458l7.831 7.795zM62.002 69.076H12.999V28.534L37.5 4.149l24.502 24.385v40.542zm0-44.682l-7.938-7.902V2.924h7.938v21.47z'/%3E%3Cpath d='M29.906 27.08c0 4.261 3.47 7.713 7.75 7.713 4.279 0 7.75-3.452 7.75-7.713 0-4.259-3.471-7.713-7.75-7.713-4.281 0-7.75 3.454-7.75 7.713zm7.75-4.945c2.744 0 4.969 2.214 4.969 4.945 0 2.732-2.225 4.948-4.969 4.948-2.746 0-4.97-2.216-4.97-4.948 0-2.731 2.225-4.945 4.97-4.945zM17.061 41.21h3v3.919h-3zM22.999 41.21h3v3.919h-3zM17.061 47.182h3v3.919h-3zM22.999 47.182h3v3.919h-3zM48.998 41.21h3v3.919h-3zM54.936 41.21h3v3.919h-3zM48.998 47.182h3v3.919h-3zM54.936 47.182h3v3.919h-3z'/%3E%3C/g%3E%3C/svg%3E");
}

.five-reasons-food::before {
  display: block;
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74' height='70' viewBox='0 0 74 70'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M69.854 46.71H4.051c-2.274 0-4.135 1.94-4.135 4.313v3.504c0 2.372 1.861 4.313 4.135 4.313h.93v1.053c0 5.536 4.341 10.065 9.648 10.065h44.646c5.306 0 9.648-4.529 9.648-10.065V58.84h.93c2.274 0 4.135-1.941 4.135-4.313v-3.504c0-2.373-1.86-4.313-4.134-4.313zm-3.848 13.184c0 3.871-3.019 7.021-6.73 7.021H14.629c-3.711 0-6.731-3.15-6.731-7.021v-1.053h58.107v1.053zm5.065-5.367c0 .688-.558 1.271-1.218 1.271H4.051c-.66 0-1.217-.582-1.217-1.271v-3.504c0-.688.558-1.271 1.217-1.271h65.802c.66 0 1.218.582 1.218 1.271v3.504zM15.634 38.406l5.323 4.059 5.326-4.059 5.328 4.059 5.328-4.059 5.328 4.059 5.329-4.059 5.327 4.059 5.33-4.06 5.336 4.059 6.194-4.712-1.72-2.459-4.474 3.403-5.336-4.057-5.33 4.056-5.327-4.057-5.329 4.057-5.328-4.057-5.328 4.057-5.328-4.057-5.325 4.057-5.323-4.057-5.327 4.057-4.467-3.401-1.721 2.457 6.188 4.714zM7.978 31.544H68.855c.041-.619.069-1.241.069-1.87 0-.394-.016-.783-.032-1.173C68.227 12.657 54.186 0 36.952 0 19.719 0 5.677 12.657 5.013 28.501c-.017.39-.032.78-.032 1.173 0 .629.028 1.251.07 1.87h2.927zM36.952 3.043c15.591 0 28.35 11.316 29.021 25.458H7.931c.673-14.142 13.43-25.458 29.021-25.458z'/%3E%3Cellipse cx='36.952' cy='15.26' rx='1.945' ry='2.03'/%3E%3Cellipse cx='29.172' cy='10.23' rx='1.946' ry='2.03'/%3E%3Cellipse cx='44.732' cy='10.23' rx='1.946' ry='2.03'/%3E%3C/g%3E%3C/svg%3E");
}

.five-reasons-souvenirs::before {
  display: block;
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='76' viewBox='0 0 64 76'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%2381B3D2' d='M61.097 22.501H36.312C50.125 15.602 51.229 11.25 50.72 8.816c-1.162-3.963-5.692-7.023-10.002-5.407-5.569 2.089-7.137 10.388-8.644 16.387-1.924-6.07-3.784-13.814-8.136-17.737C22.677.921 20.843-.205 18.175.031c-4.026.356-9.802 5.382-7.458 10.981 2.251 5.378 9.687 8.777 14.578 11.489H2.879A2.882 2.882 0 0 0 0 25.37v11.322a2.882 2.882 0 0 0 2.879 2.869h.274V76h57.841V39.561h.103a2.882 2.882 0 0 0 2.88-2.869V25.37a2.882 2.882 0 0 0-2.88-2.869zM42.413 5.944c2.103-.31 4.982 1.299 5.255 3.209.393 2.756-3.4 5.255-5.086 6.421-2.523 1.744-4.928 2.643-7.287 4.055.884-3.69 2.549-13.011 7.118-13.685zm-22.882 9.968c-2.225-1.485-6.544-4.431-6.44-7.771.112-3.595 5.743-6.57 8.814-3.886 3.856 3.371 5.713 11.105 7.119 16.557-3.249-1.539-6.328-2.788-9.493-4.9zm5.972 57.114H6.136V39.561h19.368v33.465zm0-36.502H3.046V25.538h22.457v10.986zm10.157 0v36.503h-7.174V25.538h7.174v10.986zm22.351 36.502H38.644V39.561h19.367v33.465zm2.92-36.502H38.644V25.538h22.287v10.986z'/%3E%3C/svg%3E");
}

.base-header {
  margin: 0;

  margin-top: 28px;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.base-text {
  margin-top: 25px;

  width: 297px;

  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

/* NEUTRAL BLOCKS */
.neutral-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--base-neutral);
}

.neutral-header {
  margin: 0;

  width: 119px;

  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.neutral-number {
  margin-top: 25px;

  font-size: 14px;
  line-height: 21px;
}

.neutral-text {
  margin: 0;
  margin-top: 23px;

  width: 258px;

  text-align: center;
  font-size: 14px;
  line-height: 21px;

}

/* END OF FIVE REASONS BLOCK */

.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.hotel-search-header {
  margin: 0;
  margin-top: 57px;

  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.hotel-search-text {
  margin: 0;
  margin-top: 24px;

  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.hotel-search-link {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 50px;

  width: 568px;
  height: 86px;

  background-color: var(--accent-dark);

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--base-light);

  text-decoration: none;
}

.hotel-search a:hover {
  background-color: var(--accent-dark-darker);
}

.hotel-search a:active {
  background-color: var(--accent-dark-darkest);

  color: var(--base-light-transparent-max);
}

.map-block {
  width: 1199px;
  height: 594px;

  background-color: var(--map-main-color);
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* FOOTER */

.page-footer {
  /* position: absolute;
  bottom: 0;
  left: 0; */

  background-color: var(--base-light-transparent-min);
}

.contacts,
.contacts a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--base-dark);

  text-decoration: none;
}

.contacts a:hover {
  color: var(--accent-light);
}

.contacts a:active {
  color: var(--base-dark-transparent);
}

.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list li {
  width: 46px;
  height: 48px;
}

.social-link::before {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--accent-light);
}

.social-link:hover::before {
  background-color: var(--accent-light-darker);
}

.social-link:active::before {
  background-color: var(--accent-light-darkest);
}

.twitter::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='15' viewBox='0 0 17 15'%3E%3Cpath fill='%23FFF' d='M10.95.144c1.685-.496 2.984.27 3.577 1.179.673-.231 1.331-.481 2.011-.708a2.345 2.345 0 0 1-.857 1.768c.685.17 1.304-.491 1.304-.491-.169 1-1.006 1.788-1.563 2.024-.231 6.75-3.175 11.217-10.077 11.082h-.446c-.41 0-4.164-.46-4.898-1.887 2.271.196 3.893-.422 4.693-1.177-.96-.3-2.679-.477-2.979-2.95.349.106.564.228 1.19.119C1.705 8.247.374 7.53.448 5.33c.285.328 1.067.536 1.34.472C1.085 5.561-.182 2.442.894.85c1.818 1.854 3.735 3.606 7.152 3.773C8.254 2.33 9.183.793 10.95.144z'/%3E%3C/svg%3E%0A");
}

.twitter:active::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='15' viewBox='0 0 17 15'%3E%3Cpath fill='rgba(255, 255, 255, 0.3)' d='M10.95.144c1.685-.496 2.984.27 3.577 1.179.673-.231 1.331-.481 2.011-.708a2.345 2.345 0 0 1-.857 1.768c.685.17 1.304-.491 1.304-.491-.169 1-1.006 1.788-1.563 2.024-.231 6.75-3.175 11.217-10.077 11.082h-.446c-.41 0-4.164-.46-4.898-1.887 2.271.196 3.893-.422 4.693-1.177-.96-.3-2.679-.477-2.979-2.95.349.106.564.228 1.19.119C1.705 8.247.374 7.53.448 5.33c.285.328 1.067.536 1.34.472C1.085 5.561-.182 2.442.894.85c1.818 1.854 3.735 3.606 7.152 3.773C8.254 2.33 9.183.793 10.95.144z'/%3E%3C/svg%3E%0A");
}

.facebook::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='%23FFF' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E");
}

.facebook:active::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='rgba(255, 255, 255, 0.3)' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E");
}

.youtube::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='16' viewBox='0 0 20 16'%3E%3Cpath fill='%23FFF' d='M17 0H3C1.35 0 0 1.35 0 3v10c0 1.65 1.35 3 3 3h14c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zM6.027 11.998V4.002L15.014 8l-8.987 3.998z'/%3E%3C/svg%3E%0A");
}

.youtube:active::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='16' viewBox='0 0 20 16'%3E%3Cpath fill='rgba(255, 255, 255, 0.3)' d='M17 0H3C1.35 0 0 1.35 0 3v10c0 1.65 1.35 3 3 3h14c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zM6.027 11.998V4.002L15.014 8l-8.987 3.998z'/%3E%3C/svg%3E%0A");
}

.design svg {
  fill: var(--htmlacademy-logo-base);
}

.design svg:hover {
  fill: var(--htmlacademy-logo-hover);
}

.design svg:active {
  fill: var(--htmlacademy-logo-active);
}

/* HOTELS */

.filters {
  font-size: 14px;
  line-height: 21px;
  color: var(--base-light);

  background-color: var(--accent-light);
  background-image: url(../img/background-blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.filters fieldset {
  border: 0;
}

.filters legend {
  font-weight: 700;
  font-size: 16px;
}

.search-result-count {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort-options {
  font-size: 12px;
  line-height: 18px;
}

.sort-by,
.order-by,
.search-result {
  padding: 0;
  margin: 0;

  list-style: none;
}

.sort-link {
  border-bottom: 1px dashed var(--accent-light);
  font-size: 12px;
  line-height: 18px;
  color: var(--base-dark-transparent);

  text-decoration: none;
}

.sort-link:hover {
  color: var(--accent-light);
}

.sort-link:active {
  border: 0;

  color: var(--base-dark);
}

.sort-active,
.sort-active:hover,
.sort-active:active {
  border-bottom: 1px dashed var(--accent-light);

  font-size: 12px;
  line-height: 18px;
  color: var(--accent-light);
}

.order-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32px;
}

.order-by li {
  width: 10px;
  height: 11px;
}

.order-link::before {
  display: block;

  width: 10px;
  height: 11px;

  line-height: 11px;
}

.order-asc::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23CACACA' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.order-asc:hover:not(.order-active)::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23000000' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.order-asc:active:not(.order-active)::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%2381B3D2' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.order-desc::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23CACACA' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.order-desc:hover:not(.order-active)::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23000000' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.order-desc:active:not(.order-active)::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%2381B3D2' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.hotels-item {
  border-bottom: 1px solid var(--border);
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  color: var(--base-dark);

  text-decoration: none;
}

.hotel-name a:hover {
  color: var(--accent-light);
}

.hotel-name a:active {
  color: var(--base-dark-transparent);
}
.stars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 17px;

}

.star {
  display: block;
  margin-left: 5px;

  width: 19px;
  height: 17px;

  background-image: url(../img/star.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 110px;
  height: 27px;

  line-height: 21px;
  font-weight: 700;
  color: var(--base-light);
  text-decoration: none;

  background-color: var(--accent-light);
}

.more:hover {
  background-color: var(--accent-light-darker);
}

.more:active {
  color: var(--base-light-transparent-max);
  background-color: var(--accent-light-darkest);
}

.reserve {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 142px;
  height: 27px;

  line-height: 21px;
  font-weight: 700;
  color: var(--base-light);
  text-decoration: none;

  background-color: var(--accent-dark);
}

.reserve:hover {
  background-color: var(--accent-dark-darker);
}

.reserve:active {
  color: var(--base-light-transparent-max);
  background-color: var(--accent-dark-darkest);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 110px;
  height: 27px;

  line-height: 21px;

  background-color: var(--accent-neutral);
}
