/* COMMON */

:root {
  --base-light: #ffffff;
  --base-light-transparent-min: rgba(255, 255, 255, 0.9);
  --base-light-transparent-max: rgba(255, 255, 255, 0.3);

  --base-dark: #000000;
  --base-dark-transparent: rgba(0, 0, 0, 0.3);
  --base-dark-lighter: #333333;

  --base-neutral: #eeeeee;

  --accent-neutral: #f2f2f2;
  --accent-neutral-darker: #ebebeb;

  --accent-light: #81b3d2;
  --accent-light-darker: #669ec0;
  --accent-light-darkest: #5496bd;

  --accent-dark: #766357;
  --accent-dark-darker:#604e43;
  --accent-dark-darkest:#503e33;

  --border: #e5e5e5;

  --map-main-color: #e0edbb;

  --htmlacademy-logo-base: #231f20;
  --htmlacademy-logo-hover: #81b3d2;
  --htmlacademy-logo-active: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body {
  position: relative;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--base-dark);

  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.hotel-popup {
  display: none;
}

/* HEADER */

.main-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu a {
  font-weight: 700;
  color: var(--base-dark);
  text-decoration: none;
}

.main-menu a:hover {
  color: var(--accent-light);
}

.main-menu a:active {
  color: var(--base-dark-transparent);
}

a.active-page,
a.active-page:hover,
a.active-page:focus,
a.active-page:active {
  color: var(--accent-dark);
}

/* MAIN */

.intro {
  background-color: var(--accent-light);
  background-image: url(../img/intro-mask.svg), url(../img/background-photo.jpg);
  background-size: 100%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top left;
}

.intro p {
  background-color: var(--base-light);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.five-reasons h2 {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--base-dark-lighter);
}


.hotel-search h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.hotel-search p {
  font-size: 14px;
  line-height: 24px;
}

.hotel-search a {
  background-color: var(--accent-dark);

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--base-light);

  text-decoration: none;
}

.hotel-search a:hover {
  background-color: var(--accent-dark-darker);
}

.hotel-search a:active {
  background-color: var(--accent-dark-darkest);

  color: var(--base-light-transparent-max);
}

.map-block {
  width: 1199px;
  height: 594px;

  background-color: var(--map-main-color);
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* FOOTER */

footer {
  /* position: absolute;
  bottom: 0;
  left: 0; */

  background-color: var(--base-light-transparent-min);
}

.contacts,
.contacts a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--base-dark);

  text-decoration: none;
}

.contacts a:hover {
  color: var(--accent-light);
}

.contacts a:active {
  color: var(--base-dark-transparent);
}

.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list li {
  width: 46px;
  height: 48px;
}

.social-link::before {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--accent-light);
}

.social-link:hover::before {
  background-color: var(--accent-light-darker);
}

.social-link:active::before {
  background-color: var(--accent-light-darkest);
}

.twitter::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='15' viewBox='0 0 17 15'%3E%3Cpath fill='%23FFF' d='M10.95.144c1.685-.496 2.984.27 3.577 1.179.673-.231 1.331-.481 2.011-.708a2.345 2.345 0 0 1-.857 1.768c.685.17 1.304-.491 1.304-.491-.169 1-1.006 1.788-1.563 2.024-.231 6.75-3.175 11.217-10.077 11.082h-.446c-.41 0-4.164-.46-4.898-1.887 2.271.196 3.893-.422 4.693-1.177-.96-.3-2.679-.477-2.979-2.95.349.106.564.228 1.19.119C1.705 8.247.374 7.53.448 5.33c.285.328 1.067.536 1.34.472C1.085 5.561-.182 2.442.894.85c1.818 1.854 3.735 3.606 7.152 3.773C8.254 2.33 9.183.793 10.95.144z'/%3E%3C/svg%3E%0A");
}

.twitter:active::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='15' viewBox='0 0 17 15'%3E%3Cpath fill='rgba(255, 255, 255, 0.3)' d='M10.95.144c1.685-.496 2.984.27 3.577 1.179.673-.231 1.331-.481 2.011-.708a2.345 2.345 0 0 1-.857 1.768c.685.17 1.304-.491 1.304-.491-.169 1-1.006 1.788-1.563 2.024-.231 6.75-3.175 11.217-10.077 11.082h-.446c-.41 0-4.164-.46-4.898-1.887 2.271.196 3.893-.422 4.693-1.177-.96-.3-2.679-.477-2.979-2.95.349.106.564.228 1.19.119C1.705 8.247.374 7.53.448 5.33c.285.328 1.067.536 1.34.472C1.085 5.561-.182 2.442.894.85c1.818 1.854 3.735 3.606 7.152 3.773C8.254 2.33 9.183.793 10.95.144z'/%3E%3C/svg%3E%0A");
}

.facebook::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='%23FFF' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E");
}

.facebook:active::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='rgba(255, 255, 255, 0.3)' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E");
}

.youtube::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='16' viewBox='0 0 20 16'%3E%3Cpath fill='%23FFF' d='M17 0H3C1.35 0 0 1.35 0 3v10c0 1.65 1.35 3 3 3h14c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zM6.027 11.998V4.002L15.014 8l-8.987 3.998z'/%3E%3C/svg%3E%0A");
}

.youtube:active::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='16' viewBox='0 0 20 16'%3E%3Cpath fill='rgba(255, 255, 255, 0.3)' d='M17 0H3C1.35 0 0 1.35 0 3v10c0 1.65 1.35 3 3 3h14c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zM6.027 11.998V4.002L15.014 8l-8.987 3.998z'/%3E%3C/svg%3E%0A");
}

.design svg {
  fill: var(--htmlacademy-logo-base);
}

.design svg:hover {
  fill: var(--htmlacademy-logo-hover);
}

.design svg:active {
  fill: var(--htmlacademy-logo-active);
}

/* HOTELS */

.search-result-count {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort-options {
  font-size: 12px;
  line-height: 18px;
}

.sort-by,
.order-by,
.search-result {
  padding: 0;
  margin: 0;

  list-style: none;
}

.sort-link {
  border-bottom: 1px dashed var(--accent-light);
  font-size: 12px;
  line-height: 18px;
  color: var(--base-dark-transparent);

  text-decoration: none;
}

.sort-link:hover {
  color: var(--accent-light);
}

.sort-link:active {
  border: 0;

  color: var(--base-dark);
}

.sort-active,
.sort-active:hover,
.sort-active:active {
  border-bottom: 1px dashed var(--accent-light);

  font-size: 12px;
  line-height: 18px;
  color: var(--accent-light);
}

.order-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32px;
}

.order-by li {
  width: 10px;
  height: 11px;
}

.order-link::before {
  display: block;

  width: 10px;
  height: 11px;

  line-height: 11px;
}

.order-asc::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23CACACA' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.order-asc:hover:not(.order-active)::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23000000' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.order-asc:active:not(.order-active)::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%2381B3D2' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.order-desc::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23CACACA' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.order-desc:hover:not(.order-active)::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23000000' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.order-desc:active:not(.order-active)::before {
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%2381B3D2' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.hotels-item h2 a {
  font-size: 21px;
  line-height: 26px;
  color: var(--base-dark);

  text-decoration: none;
}

.hotels-item h2 a:hover {
  color: var(--accent-light);
}

.hotels-item h2 a:active {
  color: var(--base-dark-transparent);
}
.stars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 17px;

}

.star {
  display: block;
  margin-left: 5px;

  width: 19px;
  height: 17px;

  background-image: url(../img/star.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 110px;
  height: 27px;

  line-height: 21px;
  font-weight: 700;
  color: var(--base-light);
  text-decoration: none;

  background-color: var(--accent-light);
}

.more:hover {
  background-color: var(--accent-light-darker);
}

.more:active {
  color: var(--base-light-transparent-max);
  background-color: var(--accent-light-darkest);
}

.reserve {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 142px;
  height: 27px;

  line-height: 21px;
  font-weight: 700;
  color: var(--base-light);
  text-decoration: none;

  background-color: var(--accent-dark);
}

.reserve:hover {
  background-color: var(--accent-dark-darker);
}

.reserve:active {
  color: var(--base-light-transparent-max);
  background-color: var(--accent-dark-darkest);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 110px;
  height: 27px;

  line-height: 21px;

  background-color: var(--accent-neutral);
}
